@tailwind base;
@tailwind components;
@tailwind utilities;

/* File: app/globals.css */
html {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.light {
    background-color: white;
    color: black;
}
  
.dark {
    background-color: #1f2937; /* Dark gray */
    color: white;
}

/* Custom styles */
/* body {
  @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-50;
} */